{% extends 'hikinglog/base.html' %}
{% load staticfiles %}


{% block title %}HikingLog home{% endblock title %}

    
{% block stylesheets %}
  <link href="{% static 'hikinglog/cover.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

  <body >

  
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <!-- <h3 class="masthead-brand">IMAGE-Nation</h3> -->
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="{% url 'home' %}">Home</a></li>
                  
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Hiking Log</h1>
            <p class="lead">Log your hikes</p>
            <p class="lead">
                <!-- {% if not user.is_authenticated %} -->
                  <a href="{% url 'hike_add' %}" class="btn btn-lg btn-default">Add a Hike!</a>
                <!-- {% endif %} -->
            </p>
          </div>
          
          <div class="mastfoot">
            <div class="inner">
              <footer>Hiking Log 2017</footer>
            </div>
          </div>

        </div>

      </div>

    </div>

    {% endblock %}
